<div id="espacamento" style="height:30px;">

</div>
<div align="center">
  <button class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">add</i>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">remove</i>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">edit</i>
  </button>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Data de nascimento</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |contatos|}}
        {{contatos-listing contato=contatos}}
      {{/each}}
    </tbody>
  </table>
</div>
