<h2>tabela-contatos</h2>

<ul class="demo-list-two mdl-list">
  {{#each model as |contato|}}
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>{{contato.nome}}</span>
          <span class="mdl-list__item-text-body">
            {{contato.email}} -
            {{contato.celular}} - {{contato.dt_nasc}}
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Favorito</span>
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
        </span>
      </li>
      {{/each}}
</ul>
